# Archivos de byte-compilados / optimizados / DLL
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg

# Entornos virtuales
venv/
env/
.env/
.venv/
ENV/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Archivos de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# Documentación
docs/_build/

# Logs y bases de datos
*.log
*.sqlite3
*.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos locales de configuración
.env
.env.local
*.conf

# Dependencias locales
lib/
lib64/

# Archivos temporales
tmp/
temp/
# Dataset
dataset/
*.jpg
*.jpeg
*.png
*.txt
!requirements.txt
*.pt
*.pth
*.weights
*.h5

# Directorios de modelos y checkpoints

weights/
runs/
*.onnx

# Archivos temporales de entrenamiento
*.cache
events.out.tfevents.*
*.log

# Archivos de resultados
results.txt
results.csv
results/
/data/test_videos
/database/processed_videos
